<div class="row">
    <h1>Map pool</h1>
    <br>
    <span *ngIf=[errors] class="alert-danger">
        <p *ngFor="let error of errors;">
            {{error}}
        </p>
    </span>
    <span (click)="resetMatchGenerated()" *ngIf="isMatchGenerated();">
        <p class="alert-info"><< Back to Map pool generation</p>
    </span>

    <div class="row" *ngIf="isMatchGenerated(); else configurationMatch">
        <div *ngFor="let map of matchGenerated; let i = index" class="col-md-4">
            <img src="../../assets/image/map/{{map}}" alt="Lights" style="width:100%">
            <br>
            <h3 class="text-center">
                Game {{i + 1}}
            </h3>
            <br>
            <span class="text-center">
            {{ map }}
            </span>
        </div>
    </div>
    <ng-template #configurationMatch>
        <div class="row">
            <div *ngIf="isPoolFill()" class="row">
                <div class="row">
                    <h2>Selected map pool :</h2>
                    <div *ngFor="let map of poolMapsSelected; let i = index" class="col-1">
                        <div class="thumbnail">
            <span (click)="removeMapFromPool(i)" id="span{{map}}">
                <img src="../../assets/image/map/{{map}}" alt="Lights" style="width:100%">
            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="actions col-2 offset-1" *ngFor="let bestOf of [1,3,5]">
                        <span (click)="generateMatch(bestOf)" class="btn btn-info">b0{{bestOf}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let map of poolMaps; let i = index" class="col-md-1">
                    <div class="thumbnail">
            <span (click)="selectMap(i)" id="span{{map}}">
                <img src="../../assets/image/map/{{map}}" alt="Lights" style="width:100%">
                <!--                <div class="caption">a</div>-->
            </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
